.nav {
  background: #26272A;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navLoggedIn {
  background: #26272A;
  height: 50px;
  display: flex;
  justify-content: center;
}
.loggedInBar > button {
  margin-top: 15px;
}
.loggedInBar > h3 {
  cursor: pointer;
}

.loggedInBar {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.logo {
  color:white;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 0px 10px 10px 7px;
  border-radius: 15px;
  font-size: 1.75em;
  background: linear-gradient(to bottom, #CE9708, #efff00, #CE9708);
}
.logo > p {
  font-family: 'Titillium Web', sans-serif;
  padding: 10px;
  position: relative;
  bottom: 10px;
}


.nav > div > button {
  margin: 0 10px;
}